@model GauntletRunViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Gauntlet Run</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.MemberDisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberDisplayName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostUrl)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MediaLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MediaLink)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RunDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RunDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LapTimeVerified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LapTimeVerified)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Track.TrackName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Track.TrackName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle1.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle2.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle3.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle4.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle5.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="GauntletRunId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>