@model IEnumerable<ForumChallengeRunViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group">
        <label id="forumChallengeSelector">Forum Challenge</label>
        <select for="forumChallengeSelector" name="ForumChallengeId" class="form-control" asp-items="ViewBag.ChallengeId" onchange="if(this.value != 0) { this.form.submit(); }">
        </select>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member.MemberDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="@(item.Deleted ? "deleted" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ForumChallengeRunId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ForumChallengeRunId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ForumChallengeRunId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<h3>BB Code</h3>
<textarea rows="20" readonly="readonly" style="width: 100%">@ViewBag.LeaderboardBB</textarea>

<h3>Leaderboard</h3>
@Html.Raw(ViewBag.LeaderboardHtml)