@model LeaderboardViewModel

@{
    ViewData["Title"] = "Gauntlet Leaderboard";
}

<h1>Index</h1>

<p>
    <a asp-action="Runs">Gauntlet runs (former leaderboard)</a>
</p>


<form asp-action="Index" method="get">
    <div class="form-check form-check-inline">
        <input class="form-check-input" asp-for="NonVip" onchange="this.form.submit(); "/>
        <label class="form-check-label">@Html.DisplayNameFor(model => model.NonVip)</label>
    </div>
      
    <div class="form-check form-check-inline">
        <input class="form-check-input" asp-for="Vip12" onchange="this.form.submit(); "/>
        <label class="form-check-label">@Html.DisplayNameFor(model => model.Vip12)</label>
    </div>
    
    <div class="form-check form-check-inline">
        <input class="form-check-input" asp-for="Vip13" onchange="this.form.submit(); "/>
        <label class="form-check-label">@Html.DisplayNameFor(model => model.Vip13)</label>
    </div>
    
    <div class="form-check form-check-inline">
        <input class="form-check-input" asp-for="Vip14" onchange="this.form.submit(); "/>
        <label class="form-check-label">@Html.DisplayNameFor(model => model.Vip14)</label>
    </div>
    
    <div class="form-check form-check-inline">
        <input class="form-check-input" asp-for="Vip15" onchange="this.form.submit(); "/>
        <label class="form-check-label">@Html.DisplayNameFor(model => model.Vip15)</label>
    </div>

</form>


<div class="accordion" id="leaderboardAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTotalLeaderboard">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Total Leaderboard
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#leaderboardAccordion">
            <div class="accordion-body">
                This is the total leaderboard
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingLeaderboardByTrack">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Leaderboards By Track
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#leaderboardAccordion">
            <div class="accordion-body">
                This is the leaderboards by tracks
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Best Lap Times
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#leaderboardAccordion">
            <div class="accordion-body">
                This is the best lap times
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}