@model A8Forum.ViewModels.GiftLinkViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GiftLink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftLinkProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftLinkProvider.GiftLinkProviderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmitedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmitedBy.MemberDisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GiftLinkId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
